  [Unit]
  Description=SwitchBot Logger
  After=network.target

  [Service]
  Type=simple
  WorkingDirectory=/home/quantum_optics_rpi/Projects/Temperature
  ExecStart=/home/quantum_optics_rpi/Projects/Temperature/.venv/bin/python /home/quantum_optics_rpi/Projects/Temperature/logger_influx_scan.py --token changeme-token
  Restart=always
  RestartSec=5

  [Install]
  WantedBy=multi-user.target